*{
    margin: 0;
}
section{
    font-family: '카카오 큰글씨','ExtraBold','KakaoBigSans-ExtraBold','FONTRIX;KakaoBigSans;ExtraBold';
}
.head-bar{
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    /* background-color: white; */
    background-color: transparent;
}
.head-bar:hover{
    background: white;
}
.logo{
    margin: auto 50px;
}
.head-bar ul{
    display: flex;
    list-style: none;
    font-size: 12px;
    margin: auto 20px;
}
.head-bar li a{
    text-decoration: none;
    color: black;
    margin: 20px;
}
/* 부모 - relative, 자식 - absolute 는 둘이 겹치게 만든다 */
.videobox{
    width: 100%;
    position: relative;
}
.videobox h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* translate(%)의 기준은 부모가 아니라 자기 자신의 크기 */
    /* 중앙 정렬할때에는 3개 무조건 같이 */
    font-size: 70px;
    font-weight: 1000;
    color: white;
}
.videobox video{
    width: 100%;
    display: block;
}
.spread{
    position: relative;
    width: 600px; /* 전체 영역 */
    height: 300px;
    margin: 100px auto;
}
.spread img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
}

.ilsang{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    opacity: 0;
    transform: translateY(60px);
}
.ilsang.active_bank {
    animation: moveTop 1s ease forwards;

}
.ilsang h1{
    line-height: 50px;
    padding-bottom: 100px;
}


@keyframes moveTop {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* 이미지가 양 옆으로 펼쳐짐 */
.spread img:nth-child(1){
    animation: moveOut1 1s ease forwards;
    animation-delay: 2s;
}
.spread img:nth-child(2){
    animation: moveOut2 1s ease forwards;
    animation-delay: 2s;

}

.spread img:nth-child(4){
    animation: moveOut4 1s ease forwards;

    animation-delay: 2s;
}
.spread img:nth-child(5){
    animation: moveOut5 1s ease forwards;
    animation-delay: 2s;
}

@keyframes moveOut1{
    from{transform: translate(-50%, -50%);}
    to{transform:translate(-50%, -50%) translateX(-390px) rotate(-6deg);}
}
@keyframes moveOut2{
    from{transform: translate(-50%, -50%);}
    to{transform:translate(-50%, -40%) translateX(-200px) rotate(2deg);}
}
@keyframes moveOut4{
    from{transform: translate(-50%, -50%);}
    to{transform:translate(-50%, -60%) translateX(200px) rotate(-3deg);}
}
@keyframes moveOut5{
    from{transform: translate(-50%, -50%);}
    to{transform:translate(-50%, -50%) translateX(390px) rotate(6deg);}
}

/* 각 이미지마다 우선순위 부여 */
.spread img:nth-child(1){z-index: 1;}
.spread img:nth-child(2){z-index: 2;}
.spread img:nth-child(3){z-index: 3;}
.spread img:nth-child(4){z-index: 1;}
.spread img:nth-child(5){z-index: 2;}

/* news */
.news-sec{
    max-width: 1200px;
    margin: 0 auto; /* 영역 전체 가운데 정렬 */
    opacity: 0;
    transform: translateY(50px);
}
.news-sec h2{
    padding-bottom:50px ;
}

.news-sec.news_active{
    animation: News 1s ease forwards;
}

@keyframes News {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 50px;

}
.imgbox{
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    /* 이미지 center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbox img{
    width: 800px;
}
.main-news{
    background: rgba(0, 0, 0, 0.6);
    height: 350px;
    position: absolute;
    left: 0; top: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.main-news p{
    font-size: 14px;;
}

.sub-news-box{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px 20px;
}
.sub-news hr{
    color: rgba(0, 0, 0, 0.1);
    margin: 15px auto;
}

/* 3줄 넘어가면 나머지 내용 ...으로 가려짐 */
.sub-news-box p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 호환성 경고는 무시해도 됨 */
}

.date-box{
    display: flex;
    background-color: lightgray;
    width: 560px;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}
#dateLine{
    color: gray;
}

/* gyungyung-sec */

.gyungyung-sec{
    max-width: 1200px;
    margin: 0 auto 100px auto;
    opacity: 0;
    transform: translateY(50px);
}
.gyungyung-sec.gy_active {
    animation: MoveY 1s ease forwards;
}
.gyungyung-sec h2{
    margin: 150px 0 50px 0;
}
.gyungyung{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.gyungyung .gy-box{
    width: 380px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.gy-box img{
    width: 380px;
}
.img-title, .img-title-white{
    position: absolute;
    bottom: 0; left: 0;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
.img-title-white{
    color: white;
}
.gy-box:hover{
    transform: scale(0.96);
    transition: calc(0.3s);
}

@keyframes MoveY{
    to{ opacity: 1; transform: translateY(0);
    }
}