body{
    margin: 50px;
}
hr{
    margin-top:80px ;
    margin-bottom: 80px;
}
.title{
    font-weight: 1000;
    font-size: 70px;
    margin-bottom: 0;
}
.ment{
    font-size: 1.2em;
    margin-bottom: 60px;

}
.section1{
    text-align: center;
}

/* img btn */

.imgbtn{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: inherit;
}

.imgbtn:hover{
    color: gray;
}

.one, .two{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.divbtn{
    margin: 0 2px 60px;
}
img{
    width: 100px;
    margin-bottom: 10px;
}

/* text btn */
.section2{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 25%);
    font-family: inherit;
    font-size: 20px;
    color: gray;
    text-align: center;
    margin: 80px;
    cursor: pointer;
}
.section2 .box:nth-child(n+5){
    display: none;
}
.section2:hover .grid .box:nth-child(n+5){
    display: block;
}

.box{
    margin: 15px;
}
.box1{
    font-size: 25px;
    color: black;
    font-weight: 600;
    margin: 10px;
}
.footerbtn{
    text-decoration: none;
    color: gray;
    font-weight: 500;
}
.footerbtn:hover{
    color: black;
}

/* footer */

.section3{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 20%);
    font-family: inherit;
    font-size: 17px;
    color: gray;
    text-align: center;
    margin: 80px;
}

.box2{
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin: 10px;
}

.country{
    text-decoration: none;
    color: lightgray;
    font-weight: 500;
}
i{
    margin-right: 10px;
}

.section4 .nav-menu{
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    color: gray;
    
}

.section5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-auto-rows: 130px;
}