*{
    font-family: '나눔스퀘어', 'NanumSquareL', '1.000;SAND;NanumSquareL;160623_01;';
    scroll-behavior: smooth; /* 페이지 내에서 버튼 클릭해서 정해놓은 위치로 이동할 때 부드럽게 이동*/
}


/* 'just breathe' 폰트 부분 일괄 */
.logo, nav ul, main h1, h5, .myself, .name, .header-btn{
    font-family: 'Just Breathe', 'JustBreathe', 'Just Breathe v0.72';
    font-weight: lighter;
}

body{
    background: url(../images/bg.png);
    background-size: cover;
}
/* header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    margin: 0 15px 50px 15px;
}

nav ul{
    display: flex;
    list-style: none;
}

.header-btn{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    
}

/* main */
main{
    margin: 0 20px;
}
.aboutme{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 50px;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.1);
}

.icon{
    padding: 20px;
}
.name, .text{
    padding: 5px 3px;
}

main h1{
    font-size: 100px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.title-line{
    margin: 0; padding: 0;
    border: 0;
    height: 1.5px;
    border-radius: 10px;
    background: black;
    transform: scaleX(0);
    transform-origin: center;
    opacity: 0;
}
.title-point{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 0; padding: 0;
    opacity: 0;
}
/* .title-point p{

} */
.title.active .title-line{
    animation: lineGrow 0.9s ease forwards;
}
.title.active .title-point{
    animation: point 0.3s ease-in forwards;
    animation-delay: 0.5s;
}

@keyframes lineGrow{
    50%{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes point{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.designer{
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
    line-height: 33px;
}
.designer h5{
    font-size: 30px;
}

.contents{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px 40px;
    margin: 40px;
    margin-top: 100px;
    justify-content: center;
}
.contents-box{
    
    border-radius: 20px;
    height: 500px;
    text-align: center;
    /* opacity: 0; */
}

.contents-box:hover{
    animation: img 1s forwards;
}
@keyframes img{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.01);
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
    }
}

@keyframes moveIn{
    from{

    }
}

h5{
    font-size: 20px;
}

img{
    padding: 20px;
    width: 80%;
    height: 200px;
    object-fit: contain;
    border-radius: 14px;
}

.contents-box p{
    height: 90px;
}
.preview{
    margin-left: 200px;
}
.preview a{
    text-decoration: none;
    color: black;
}

@media (max-width: 997px){
    .aboutme{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        margin: 20px 50px;
        justify-content: center;
    }
    .box{
        display: flex;
        align-items: center;
        padding: 20px;
        margin: 10px 20px;
        border-radius: 20px;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.1);
    }
    .text{
        overflow-wrap: anywhere;/* 기본 줄바꿈은 break-word, anywhere은 어디서든 줄바꿈 가능. break-word보다 강력함 */
    }

    .contents{
        display: flex;
        flex-direction: column;
    }
    .contents-box{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-areas: 
        "title desc"
        "thumb link"
        ;
        align-items: center;
        height: 300px;
        padding: 20px 70px;
        text-align: left;
        gap: 10px 20px;
    }
    .contents-box h5{
        grid-area: title; margin: 0;
    }
    .contents-box img{
        grid-area: thumb;
        width: 90%;
        padding: 0;
        align-items: start;
        justify-self: start;
        transform: translateY(-40px);
    }
    .contents-box p{
        grid-area: desc; margin: 0;
        height: auto;
        justify-self: end;
        text-align: right;
        padding-top: 80px;
        line-height: 25px;

    }
    .preview{
        grid-area: link; margin-left: 0;
        justify-self: end;
        text-align: right;
    }
}
.top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
}
.top a{
    padding: 11px;
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}

.fa-arrow-up{
    padding: 4px;
    font-size: 20px;
}