@font-face {
    font-family: "Ownglyph_wiseelist-Rg";
    src: url("../fonts/온글잎 위씨리스트.ttf") format("ttf");
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Just Breathe";
    src: url("../fonts/JustBreathe.otf") format("otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

*{
    /* font-family: '나눔스퀘어', 'NanumSquareL', '1.000;SAND;NanumSquareL;160623_01;'; */
    font-family: 'Ownglyph_wiseelist-Rg';
    font-size: 20px;
    scroll-behavior: smooth; /* 페이지 내에서 버튼 클릭해서 정해놓은 위치로 이동할 때 부드럽게 이동*/
}

/* 'just breathe' 폰트 부분 일괄 */
.logo, nav ul, main h1, h5, .myself, .name, .header-btn, .accordion li label{
    font-family: 'Just Breathe', 'JustBreathe', 'Just Breathe v0.72';
    font-weight: lighter;
}

body{
    background: url(../images/bg.png);
    background-size: cover;
}

/* header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    margin: 0 15px 50px 15px;
}

nav ul{
    display: flex;
    list-style: none;
}

.header-btn{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    
}

/* main */
main{
    margin: 0 20px;
}
.aboutme{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 50px;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.1);
    opacity: 0; transform: translateY(50px);
    animation: box 1s ease forwards;
}
.delay-box4, .delay-box5, .delay-box6{
    animation-delay: 0.3s;
}
@keyframes box{
    to {
        opacity: 1; transform: translateY(0);
    }
}

.icon{
    padding: 20px;
}
.name, .text{
    padding: 5px 3px;
}

main h1{
    font-size: 100px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.title-line{
    margin: 0; padding: 0;
    border: 0;
    height: 1.5px;
    border-radius: 10px;
    background: black;
    transform: scaleX(0);
    transform-origin: center;
    opacity: 0;
}
.title-point{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 0; padding: 0;
    opacity: 0;
}

.title.active .title-line{
    animation: lineGrow 0.9s ease forwards;
}
.title.active .title-point{
    animation: point 0.3s ease-in forwards;
    animation-delay: 0.5s;
}

@keyframes lineGrow{
    50%{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scaleX(1);
    }
}
@keyframes point{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.designer{
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
    line-height: 33px;
}
.designer div{
    font-size: 40px;
}

.contents-box{
    height: 500px;
    text-align: center;    
    /* opacity: 0; */
}


h5{
    font-size: 20px;
}
.contents-box .images{
    overflow: hidden;
}
img{
    width: 100%;
    object-fit: fill;
}

.preview{
    margin-left: 200px;
}
.preview a{
    text-decoration: none;
    color: black;
}


.top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
}
.top a{
    padding: 11px;
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}

.fa-arrow-up{
    padding: 4px;
    font-size: 20px;
}


/* projects 영역 변경 */
.faq{
    max-width: 1200px;/* 가장 큰 가로 사이즈 */
    margin: 60px auto;
    opacity: 0;
    transform: translateY(50px);
}
.faq.faq_active {
    animation: moveprojects 1s ease forwards;}
    .accordion{
        list-style: none;
    }
    .accordion li{
        margin-bottom:  18px;
    }
    .accordion input{ display: none; }
    
    .accordion label{ 
        cursor: pointer; 
        padding: 16px 30px; 
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .accordion label::after{
        content: "+";
        font-size: 30px;
    }
    .accordion .contents-box{
        padding: 0 16px;
        overflow: hidden;
        max-height: 0;
        /* 숨겨져있다가 서서히 나타날 부분 */
        transition: 0.3s;
    }
    .accordion input:checked + label + .contents-box {
        max-height: 600px;
        padding: 16px;
        
        
    }
    .accordion input:checked + label::after{
        transform: rotate(45deg);   
        transition: 0.3s;
    }
    
    @keyframes moveprojects{
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @media (max-width: 957px){
        .aboutme{
            display: grid;
            grid-template-columns: repeat(2, 40%);
            margin: 20px 50px;
            justify-content: center;
        }
        .box{
            display: flex;
            align-items: center;
            padding: 20px;
            margin: 10px 20px;
            border-radius: 20px;
            box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.1);
        }
        .text{
            overflow-wrap: anywhere;/* 기본 줄바꿈은 break-word, anywhere은 어디서든 줄바꿈 가능. break-word보다 강력함 */
        }
        .delay-box3, .delay-box4{
            animation-delay: 0.3s;
        }
        .delay-box5, .delay-box6{
            animation-delay: 0.6s;
        }
    }
    @media (max-width:755px){
        .aboutme{
            grid-template-columns: 1fr;
        }
        .delay-box2{ animation-delay: 0.3s; }
        .delay-box3{ animation-delay: 0.6s; }
        .delay-box4{ animation-delay: 0.9s; }
        .delay-box5{ animation-delay: 1.2s; }
        .delay-box6{ animation-delay: 1.5s; }
    }