*{
    margin: 0;
    padding: 0;
}

/* 1. header */
/* 1-1. header - bar */
nav{
    background-color: white;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navbar, .lang, .download{
    display: flex;
    align-items: center;
}
li{
    margin: 10px;
    font-size: 13px;
    margin:  8px 10px;
}
a{
    text-decoration: none;
    color: gray;
}
.logo img{
    width: 80px;
}
.download{
    display: none;
}

.appdownload{
    background-color: #3182f6;
    color: white;
    width: 60px;
    padding: 6px;
    border-radius: 10px;
}

/* 1-2  header - thumbnail */
.head-section2{
    background: url(../images/tossmain.png) center top;
    background-size: cover;
    width: 100%;
    height: 800px;
    margin: 0;
    display: block;
    text-align: center;
    
}
.head-section2 h1{
    padding: 120px 0px;
    font-size: 60px;
    line-height: 1.4;
}
.head-section2 a{
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 13px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}

.head-section2 h1, .head-section2 a {
    animation: thumbnails 3s;
}
@keyframes thumbnails {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* main - section 1 */
.main-section1 {
    height: 480px;
    text-align: center;
    background-color: aliceblue;
}
.main-section1 p{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.6;
    padding: 190px 0;
}

/* main - section 2 */

.main-section2{
    padding: 50px;
    width: 80%;
    padding-left: 10%;
}
.title p{
    font-size: 20px;
    padding-bottom: 10px;
    color: #3182f6;
    opacity: 0;                     /* 숨김 */
    transform: translateX(-30px);   /* 왼쪽에서 시작 */
}

.text p{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3;
    opacity: 0;                     /* 숨김 */
    transform: translateX(-30px);   /* 왼쪽에서 시작 */
}

@keyframes moveInLeft {
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

/* main - phone 1 */

.phone-mock{
    position: relative;
    width: min(420px, 90vw);
    aspect-ratio: 3 / 6;
    margin-left: auto;
    opacity: 0;
}
.phone-mock .frame{
    position: absolute;
    inset: 0;
    width: 500px;
    top: -20%;
    object-fit: contain;
    z-index: 2;
}
.phone-mock .screen{
    position: absolute;
    width: 279px;
    top: -10%;
    left: 26%;
    object-fit: cover;
    border-radius: 28px;
    z-index: 1;
}

/* main - phone 2 */

.phone-mock2{
    position: relative;
    width: min(420px, 90vw);
    /* aspect-ratio: 3 / 6; */
    height: 900px;
    margin-top: -850px;
    opacity: 0;
}


.phone-mock2 .frame2{
    position: absolute;
    inset: 0;
    width: 500px;
    object-fit: contain;
    z-index: 2;
}
.phone-mock2 .screen2{
    position: absolute;
    width: 279px;
    left: 26%;
    top: 8%;
    object-fit: cover;
    border-radius: 28px;
    z-index: 1;
}

@keyframes moveInBottom{
    from{
        transform: translateY(0);
        opacity: 0;
    }
    to{
        transform: translateY(-30px);
        opacity: 1;
    }
}

.main-section2.is-visible p{
    animation: moveInLeft 3s ease-out forwards;
}

.main-section2.is-visible .phone-mock,
.main-section2.is-visible .phone-mock2{
    animation: moveInBottom 3s ease-out forwards;
}

@media screen and (max-width:650px) {
    .head-section2 h1{
        font-size: 40px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        margin: auto 20px;
    }
    .navbar{
        /* visibility: hidden; */
        display: none;
    }
    .lang{
        display: none;
    }
    .download{
        display: flex;
    }
    .phone-mock{
        visibility: hidden;
    }
}



/* footer */

.footer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 20%);
    font-family: inherit;
    font-size: 14px;
    color: gray;
    text-align: center;
    margin: 80px;
}
.footerbtn{
    line-height: 2;
}
.box2{
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin: 10px;
}

